.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1{
  letter-spacing:1rem;
  font-weight: 700;
}

button{
  border: none;
  background: none;
}

button:hover{
  cursor: pointer;
}



.taskContainer{
  box-sizing: border-box;
  width: 100%;

  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px ;
 

}




.taskContainer input{
width: 80%;
border: 0;
background: transparent;
height: 100%;
flex: auto;
font-family: inherit;
font-size: inherit;

}

input::placeholder { 
color: #707287;

}

.checkCircle{
border-radius: 50%;
border: 2px solid;
background: transparent;
width: 17px;
height: 17px;
margin: 17px;
padding: 4px;
text-align: center;

}



.todoListContainer .checkCircle:hover{
  cursor: pointer;
  
}


.todoListContainer .taskContainer:hover{
  cursor: pointer;
}

